<a href="https://colab.research.google.com/github/weepingwillow2001/data_analysis_practice/blob/main/7%EC%9E%A5/7_1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

# dropna() 메서드를 사용하여 "누락"된 데이터 "제거"
data = pd.Series([1, np.nan, 3.5, np.nan, 7])
print(data.dropna())
# 출력:
# 0    1.0
# 2    3.5
# 4    7.0
# dtype: float64

0    1.0
2    3.5
4    7.0
dtype: float64

In [3]:
# notna()를 사용하여 같은 결과 얻기(누락 데이터 제외)
print(data[data.notna()]) # notna는 isna와 마찬가지로 기본적으로 불리언 배열 반환!
# 출력:
# 0    1.0
# 2    3.5
# 4    7.0
# dtype: float64

# data[]를 추가하여 위와 같은 결과를 얻음!

0    1.0
2    3.5
4    7.0
dtype: float64

In [4]:
# DataFrame에서 dropna() 사용하기
data = pd.DataFrame([[1.0, 6.5, 3.], [1.0, np.nan, np.nan],
                      [np.nan, np.nan, np.nan], [np.nan, 6.5, 3.0]])
print(data)

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [5]:
# 기본적으로 NA 값이 "하나라도" 있는 "행"!을 제거: dropna
print(data.dropna())

     0    1    2
0  1.0  6.5  3.0

In [6]:
# how='all' 옵션: "모든" 값이 NA인 "행"만 제거
print(data.dropna(how='all'))

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [7]:
data[4] = np.nan
print(data)
# 출력:
#      0    1    2   4
# 0  1.0  6.5  3.0 NaN
# 1  1.0  NaN  NaN NaN
# 2  NaN  NaN  NaN NaN
# 3  NaN  6.5  3.0 NaN

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [8]:
# 열을 기준으로 제거하기 (axis='columns')
print(data.dropna(axis='columns', how='all'))

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [9]:
df = pd.DataFrame(np.random.standard_normal((7, 3)))
df.iloc[:4, 1] = np.nan
df.iloc[:2, 2] = np.nan
print(df)

          0         1         2
0 -0.912388       NaN       NaN
1  0.355632       NaN       NaN
2  0.118080       NaN -0.132784
3  0.437640       NaN  1.244979
4 -2.088015 -0.597290 -0.710771
5 -0.077707 -0.184536  0.820044
6 -1.010419  0.777812  1.157007

In [10]:
print(df.dropna()) # "하나라도"

          0         1         2
4 -2.088015 -0.597290 -0.710771
5 -0.077707 -0.184536  0.820044
6 -1.010419  0.777812  1.157007

In [11]:
# thresh 매개변수: "최소" 유효(NA 아닌 값) "개수"만큼 데이터가 있는 "행"만 남김(threshold)
print(df.dropna(thresh=2))
# 최소한 2개 이상의 유효한 값이 있는 행만 유지하고, 나머지는 제거

          0         1         2
2  0.118080       NaN -0.132784
3  0.437640       NaN  1.244979
4 -2.088015 -0.597290 -0.710771
5 -0.077707 -0.184536  0.820044
6 -1.010419  0.777812  1.157007