<a href="https://colab.research.google.com/github/weepingwillow2001/data_analysis_practice/blob/main/7%EC%9E%A5/7_1_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

# float64 dtype을 가지는 데이터의 경우 누락된 값은 NaN으로 표시됨
float_data = pd.Series([1.2, -3.5, np.nan, 0])
print(float_data)

0    1.2
1   -3.5
2    NaN
3    0.0
dtype: float64

In [2]:
# isna 메서드는 값이 null인 경우 True를 가지는 불리언 Series를 반환
print(float_data.isna())

0    False
1    False
2     True
3    False
dtype: bool

In [3]:
# 문자열 데이터의 경우
string_data = pd.Series(["aardvark", np.nan, None, "avocado"])   # dtype: object !!
print(string_data)
# 출력:
# 0    aardvark
# 1         NaN
# 2        None
# 3     avocado
# dtype: object

0    aardvark
1         NaN
2        None
3     avocado
dtype: object

In [4]:
print(string_data.isna())
# 출력:
# 0    False
# 1     True
# 2     True !!!
# 3    False
# dtype: bool

0    False
1     True
2     True
3    False
dtype: bool

In [5]:
# float64 타입으로 "명시"적 지정: dtype=
float_data = pd.Series([1, 2, None], dtype='float64')
print(float_data)
# 출력:
# 0    1.0
# 1    2.0
# 2    NaN !!      # float64 dtype을 가지는 데이터의 경우 누락된 값은 NaN으로 표시됨
# dtype: float64

0    1.0
1    2.0
2    NaN
dtype: float64

In [6]:
print(float_data.isna())
# 출력:
# 0    False
# 1    False
# 2     True
# dtype: bool

0    False
1    False
2     True
dtype: bool