<a href="https://colab.research.google.com/github/weepingwillow2001/data_analysis_practice/blob/main/7%EC%9E%A5/7_5_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

# 범주형 데이터(반복 값)로 Series 생성
# 'apple'이 6번, 'orange'가 2번 나타나는 8개 요소의 Series 생성
values = pd.Series(['apple', 'orange', 'apple', 'apple'] * 2)
print(values)

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
dtype: object

In [2]:
# pd.unique()는 Series에서 고유 값을 추출
# 반복 없이 고유한 값만 반환
unique_values = pd.unique(values)
print(unique_values)

['apple' 'orange']

In [3]:
# pd.value_counts()는 각 고유 값의 발생 횟수를 계산
# Series에서 각 값이 몇 번 나타나는지 보여줌
value_counts = pd.value_counts(values)
print(value_counts)

apple     6
orange    2
Name: count, dtype: int64

<ipython-input-3-d6b2ceb69958>:3: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  value_counts = pd.value_counts(values)

In [4]:
# 범주형으로 해석될 수 있는 숫자 Series 생성
values_numeric = pd.Series([0, 1, 0] * 2)
print(values_numeric)

0    0
1    1
2    0
3    0
4    1
5    0
dtype: int64

In [5]:
# 차원 이름으로 사용될 문자열 값으로 Series 생성
dim = pd.Series(['apple', 'orange'])
print(dim)

0     apple
1    orange
dtype: object

In [6]:
# take(): "인덱스로" 가져옴
# values_numeric을 "인덱스로" 가져와 매핑
result = dim.take(values_numeric)
print(result)

0     apple
1    orange
0     apple
0     apple
1    orange
0     apple
dtype: object