<a href="https://colab.research.google.com/github/weepingwillow2001/data_analysis_practice/blob/main/7%EC%9E%A5/7_5_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
fruits = ['apple', 'orange', 'apple', 'apple'] * 2
N = len(fruits)
rng = np.random.default_rng(seed=12345)
df = pd.DataFrame({'fruit': fruits,
                   'basket_id': np.arange(N),
                   'count': rng.integers(3, 15, size=N),
                   'weight': rng.uniform(0, 4, size=N)},
                  columns=['basket_id', 'fruit', 'count', 'weight'])
df

   basket_id   fruit  count    weight
0          0   apple     11  1.564438
1          1  orange      5  1.331256
2          2   apple     12  2.393235
3          3   apple      6  0.746937
4          4   apple      5  2.691024
5          5  orange     12  3.767211
6          6   apple     10  0.992983
7          7   apple     11  3.795525

In [3]:
fruit_cat = df['fruit'].astype('category')  # 범주형 데이터로 변환
fruit_cat

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): ['apple', 'orange']

In [4]:
c = fruit_cat.array
type(c)  # pandas.core.arrays.categorical.Categorical

pandas.core.arrays.categorical.Categorical

In [8]:
c.categories  # Index(['apple', 'orange'], dtype='object')

Index(['apple', 'orange'], dtype='object')

In [7]:
# codes: 각 데이터가 어떤 "카테고리"에 속하는지를 "정수"로 나타낸 배열

c.codes  # array([0, 1, 0, 0, 0, 1, 0, 0], dtype=int8)

# 첫 번째 값은 'apple'이므로 codes[0]은 0입니다 (categories[0] = 'apple')
# 두 번째 값은 'orange'이므로 codes[1]은 1입니다 (categories[1] = 'orange')
# 세 번째/네 번째도 'apple'이므로 codes[2]와 codes[3]은 0입니다

array([0, 1, 0, 0, 0, 1, 0, 0], dtype=int8)

In [9]:
dict(enumerate(c.categories))  # {0: 'apple', 1: 'orange'}

# enumerate(): 반복 가능한(iterable) 객체를 입력으로 받아 각 요소에 인덱스를 붙여 (인덱스, 요소) 쌍의 형태로 반환

{0: 'apple', 1: 'orange'}

In [10]:
df['fruit'] = df['fruit'].astype('category')
df['fruit']

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): ['apple', 'orange']

In [11]:
my_categories = pd.Categorical(['foo', 'bar', 'baz', 'foo', 'bar'])
my_categories

['foo', 'bar', 'baz', 'foo', 'bar']
Categories (3, object): ['bar', 'baz', 'foo']

In [12]:
categories = ['foo', 'bar', 'baz']
codes = [0, 1, 2, 0, 0, 1]
my_cats_2 = pd.Categorical.from_codes(codes, categories)
my_cats_2

['foo', 'bar', 'baz', 'foo', 'foo', 'bar']
Categories (3, object): ['foo', 'bar', 'baz']

In [13]:
ordered_cat = pd.Categorical.from_codes(codes, categories, ordered=True)
# 기본적으로 Categorical 데이터는 ordered=False로 생성되며, 이는 범주들 사이에 순서가 없음을 의미합니다. 즉, 범주들은 단순히 서로 다른 그룹일 뿐!

# 그러나 ordered=True로 설정하면:
# 범주들 사이에 명시적인 순서가 존재함을 나타냅니다
# 비교 연산(<, >, <=, >=)이 가능해집니다
# "크기 비교"가 카테고리 목록에 "지정된 순서"에 따라 결정
# min(), max() 같은 연산에서 범주의 순서가 고려됩니다
ordered_cat

# ['foo' < 'bar' < 'baz']

['foo', 'bar', 'baz', 'foo', 'foo', 'bar']
Categories (3, object): ['foo' < 'bar' < 'baz']

In [14]:
my_cats_2.as_ordered()  # 위와 같은 결과

['foo', 'bar', 'baz', 'foo', 'foo', 'bar']
Categories (3, object): ['foo' < 'bar' < 'baz']