<a href="https://colab.research.google.com/github/weepingwillow2001/data_analysis_practice/blob/main/5%EC%9E%A5/5_2_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# 중복된 색인 값을 갖는 Series 객체

obj = pd.Series(np.arange(5), index=["a", "a", "b", "b", "c"]) # index "a" 중복
print(obj)

a    0
a    1
b    2
b    3
c    4
dtype: int64

In [2]:
print(obj["a"])  # 중복되는 색인값이 있을 때는 하나의 Series 객체를 반환
# a    0
# a    1
# dtype: int64

print(obj["c"])
# 4

a    0
a    1
dtype: int64
4

In [3]:
df = pd.DataFrame(np.random.standard_normal((5, 3)),
                 index=["a", "a", "b", "b", "c"])
print(df)
#           0         1         2
# a  0.274992  0.228913  1.352917
# a  0.886429 -2.001637 -0.371843
# b  1.669025 -0.438570 -0.539741
# b  0.476985  3.248944 -1.021228
# c -0.577887  0.124121  0.302614

          0         1         2
a -0.802188  0.084266  0.839447
a -0.151280  0.485114 -1.723554
b  1.145129 -0.111468 -0.979878
b -0.040602 -0.907498  1.911565
c  0.383943 -0.023876 -0.460839

In [4]:
print(df.loc["b"])
#           0         1         2
# b  1.669025 -0.438570 -0.539741
# b  0.476985  3.248944 -1.021228

print(df.loc["c"])
#          0        1        2
# c -0.577887  0.12412  0.302614

          0         1         2
b  1.145129 -0.111468 -0.979878
b -0.040602 -0.907498  1.911565
0    0.383943
1   -0.023876
2   -0.460839
Name: c, dtype: float64