<a href="https://colab.research.google.com/github/weepingwillow2001/data_analysis_practice/blob/main/5%EC%9E%A5/5_2_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

# 인덱스를 지정하여 Series 생성
obj = pd.Series(np.arange(4), index=["d", "a", "b", "c"])
print(obj)

# "인덱스"를 기준으로 정렬: sort_index()
print(obj.sort_index())

d    0
a    1
b    2
c    3
dtype: int64
a    1
b    2
c    3
d    0
dtype: int64

In [2]:
# "값"을 기준으로 Series 정렬: sort_values()

obj = pd.Series([4, 7, -3, 2])
print(obj.sort_values())
# 2   -3
# 3    2
# 0    4
# 1    7
# dtype: int64

2   -3
3    2
0    4
1    7
dtype: int64

In [3]:
# NaN 값이 있는 경우 "값" 기준 정렬: 기본은 NaN 값 "뒤"로!

obj = pd.Series([4, np.nan, 7, np.nan, -3, 2])
print(obj.sort_values())
# 4   -3.0
# 5    2.0
# 0    4.0
# 2    7.0
# 1    NaN
# 3    NaN
# dtype: float64

# NaN 값의 위치 지정: na_position

print(obj.sort_values(na_position="first"))  # first: NaN을 "앞"으로
# 1    NaN
# 3    NaN
# 4   -3.0
# 5    2.0
# 0    4.0
# 2    7.0
# dtype: float64

4   -3.0
5    2.0
0    4.0
2    7.0
1    NaN
3    NaN
dtype: float64
1    NaN
3    NaN
4   -3.0
5    2.0
0    4.0
2    7.0
dtype: float64

In [5]:
# DataFrame 생성

frame = pd.DataFrame(np.arange(8).reshape((2, 4)),
                     index=["three", "one"],
                     columns=["d", "a", "b", "c"])
print(frame)

# 행(인덱스)를 기준으로 정렬
print(frame.sort_index())
#        d  a  b  c
# one    4  5  6  7
# three  0  1  2  3

# 열을 기준으로 정렬
print(frame.sort_index(axis="columns"))  # abcd 순
#        a  b  c  d
# three  1  2  3  0
# one    5  6  7  4

# 내림차순으로 정렬
print(frame.sort_index(axis="columns", ascending=False))  # a->z: ascending
# 알파벳 순서(열)이 거꾸로 됨!

       d  a  b  c
three  0  1  2  3
one    4  5  6  7
       d  a  b  c
one    4  5  6  7
three  0  1  2  3
       a  b  c  d
three  1  2  3  0
one    5  6  7  4
       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [6]:
# 하나의 열을 기준으로 정렬
frame = pd.DataFrame({"b": [4, 7, -3, 2], "a": [0, 1, 0, 1]})
print(frame)
#    b  a
# 0  4  0
# 1  7  1
# 2 -3  0
# 3  2  1

print(frame.sort_values("b"))  # b 열의 "값"을 기준으로 정렬
#    b  a
# 2 -3  0
# 3  2  1
# 0  4  0
# 1  7  1

# 여러 열을 기준으로 정렬
print(frame.sort_values(["a", "b"])) # a, b 열의 "값"을 기준으로 정렬
#    b  a
# 2 -3  0
# 0  4  0
# 3  2  1
# 1  7  1

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1
   b  a
2 -3  0
3  2  1
0  4  0
1  7  1
   b  a
2 -3  0
0  4  0
3  2  1
1  7  1

In [9]:
# Series "순위" 매기기: rank
obj = pd.Series([7, -5, 7, 4, 2, 0, 4], index = ["TSLA", "GLD", "RGTI", "SCHD", "REMX", "SIVR", "NVDA"])
print(obj.rank())   # 각 인덱스에 해당하는 숫자의 "등수" 출력(오름차순)
# TSLA    6.5    # 두 값이 같은 경우 각 순위 더해서 2로 나눔!!
# GLD     1.0
# RGTI    6.5
# SCHD    4.5
# REMX    3.0
# SIVR    2.0
# NVDA    4.5

# 순위 매기는 방법 지정 (first: 동점인 경우 "먼저" 나온 데이터에 우선순위)
print(obj.rank(method="first"))
# TSLA    6.0
# GLD     1.0
# RGTI    7.0
# SCHD    4.0  # 먼저 나왔으므로 4
# REMX    3.0
# SIVR    2.0
# NVDA    5.0  # 나중에 나왔으므로 5

# 내림차순으로 순위 매기기
print(obj.rank(ascending=False))
# TSLA    1.5  # (1 + 2) / 2
# GLD     7.0
# RGTI    1.5
# SCHD    3.5
# REMX    5.0
# SIVR    6.0
# NVDA    3.5

TSLA    6.5
GLD     1.0
RGTI    6.5
SCHD    4.5
REMX    3.0
SIVR    2.0
NVDA    4.5
dtype: float64
TSLA    6.0
GLD     1.0
RGTI    7.0
SCHD    4.0
REMX    3.0
SIVR    2.0
NVDA    5.0
dtype: float64
TSLA    1.5
GLD     7.0
RGTI    1.5
SCHD    3.5
REMX    5.0
SIVR    6.0
NVDA    3.5
dtype: float64

In [12]:

# DataFrame의 열별 "순위" 매기기
frame = pd.DataFrame({"b": [4.3, 7, -3, 2],
                      "a": [0, 1, 0, 1],
                      "c": [-2, 5, 8, -2.5]})
print(frame)
#      b  a    c
# 0  4.3  0 -2.0
# 1  7.0  1  5.0
# 2 -3.0  0  8.0
# 3  2.0  1 -2.5
print(frame.rank(axis="columns"))  # "apply 메서드"와 마찬가지로 columns, index 뜻 반대!
#      b    a    c
# 0  3.0  2.0  1.0    #"행" 기준으로 순위 배열
# 1  3.0  1.0  2.0
# 2  1.0  2.0  3.0
# 3  3.0  2.0  1.0
print(frame.rank(axis="index"))
#      b    a    c
# 0  3.0  1.5  2.0    #"열" 기준으로 순위 배열
# 1  4.0  3.5  3.0
# 2  1.0  1.5  4.0
# 3  2.0  3.5  1.0

     b  a    c
0  4.3  0 -2.0
1  7.0  1  5.0
2 -3.0  0  8.0
3  2.0  1 -2.5
     b    a    c
0  3.0  2.0  1.0
1  3.0  1.0  2.0
2  1.0  2.0  3.0
3  3.0  2.0  1.0
     b    a    c
0  3.0  1.5  2.0
1  4.0  3.5  3.0
2  1.0  1.5  4.0
3  2.0  3.5  1.0