<a href="https://colab.research.google.com/github/weepingwillow2001/data_analysis_practice/blob/main/5%EC%9E%A5/5_2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#reindex

import pandas as pd
import numpy as np
# Series 객체의 인덱스를 "변경"하거나 새 인덱스를 "추가"할 수 있음!!

# Index 객체는 기본적으로 불변(immutable)한 특성이지만 이를 우회함!!
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
print(obj)
# d    4.5
# b    7.2
# a   -5.3
# c    3.6
# dtype: float64

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [2]:
# reindex로 새로운 순서로 인덱스 재정렬

obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
print(obj2)
# a   -5.3
# b    7.2
# c    3.6
# d    4.5
# e    NaN
# dtype: float64

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [3]:
# ffill 메서드로 누락된 값 채우기
# forward fill: "앞"의 값으로 누락된 값 채움

obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
print(obj3)
# 0      blue
# 2    purple
# 4    yellow
# dtype: object

0      blue
2    purple
4    yellow
dtype: object

In [4]:
# reindex와 ffill 메서드 사용하여 누락된 값을 앞의 값으로 채우기
print(obj3.reindex(np.arange(6), method='ffill'))
# 0      blue
# 1      blue  # 앞의 값 blue
# 2    purple
# 3    purple  # 앞의 값 purple
# 4    yellow
# 5    yellow  # 앞의 값 yellow
# dtype: object

#반대는 bfill: backward fill, 실무에선 ffill이 더 자주 사용됨

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [9]:
# DataFrame에 reindex 적용

frame = pd.DataFrame(np.arange(9).reshape((3, 3)),
                    index=['a', 'c', 'd'],
                    columns=['Ohio', 'Texas', 'California'])
print(frame)
#    Ohio  Texas  California
# a     0      1          2
# c     3      4          5
# d     6      7          8

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [10]:
# 새로운 인덱스 추가
frame2 = frame.reindex(index=['a', 'b', 'c', 'd'])
print(frame2)
#    Ohio  Texas  California
# a   0.0    1.0        2.0
# b   NaN    NaN        NaN
# c   3.0    4.0        5.0
# d   6.0    7.0        8.0

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [11]:
# 열(columns)도 reindex로 재정렬 가능!!
states = ['Texas', 'Utah', 'California']
print(frame.reindex(columns=states))
#    Texas  Utah  California
# a      1   NaN          2
# c      4   NaN          5
# d      7   NaN          8

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

In [12]:
# axis 파라미터 사용
print(frame.reindex(states, axis='columns'))  #  states로 재구성할 축이 열임을 지정
#    Texas  Utah  California
# a      1   NaN          2
# c      4   NaN          5
# d      7   NaN          8

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

In [13]:
# loc를 사용한 선택과 재배열
# loc은 iloc 과 달리 "이름"으로 판단
print(frame.loc[['a', 'c', 'd'], ['California', 'Texas']])  #loc[[행], [열]]
#    California  Texas
# a           2      1
# d           8      7
# c           5      4

   California  Texas
a           2      1
c           5      4
d           8      7