<a href="https://colab.research.google.com/github/weepingwillow2001/data_analysis_practice/blob/main/5%EC%9E%A5/5_2_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

frame = pd.DataFrame(np.random.standard_normal((4, 3)),
                     columns=list("bde"),
                     index=["Utah", "Ohio", "Texas", "Oregon"])
print(frame)
print(np.abs(frame))

               b         d         e
Utah   -0.922565  1.234670  0.019758
Ohio   -0.470120  1.028218 -0.414347
Texas  -1.696344 -1.260162 -0.041918
Oregon  0.524000  1.435083  0.215026
               b         d         e
Utah    0.922565  1.234670  0.019758
Ohio    0.470120  1.028218  0.414347
Texas   1.696344  1.260162  0.041918
Oregon  0.524000  1.435083  0.215026

In [5]:
# apply: DataFrame의 각 "열"(column)에 대해 함수를 적용
def f1(x):
    return x.max() - x.min()

print(frame.apply(f1))
# 각 열의 최대값에서 최소값을 뺀 결과가 계산됩니다.
# 결과적으로 각 열의 데이터 범위를 나타내는 Series가 출력됩니다.

# f1 - 함수 자체를 참조 (함수 객체)
# f1() - 함수를 호출하고 그 결과를 반환

b    2.220345
d    2.695245
e    0.629373
dtype: float64

In [6]:
print(frame.apply(f1, axis="columns"))  # "행" 의 최대, 최소값 차이
# apply 메서드 경우만 "반대로" 생각!!!

Utah      2.157236
Ohio      1.498339
Texas     1.654426
Oregon    1.220057
dtype: float64

In [7]:
def f2(x):
    return pd.Series([x.min(), x.max()], index=["min", "max"])

print(frame.apply(f2))

            b         d         e
min -1.696344 -1.260162 -0.414347
max  0.524000  1.435083  0.215026

In [8]:
def my_format(x):
    return f"{x:.2f}"  # f-string :문자열 안에 변수나 표현식의 값을 삽입하여 새로운 문자열을 만드는 것
    # '변수 x의 값을 소수점 이하 2자리까지 부동소수점 수 형식으로 나타내라'

print(frame.applymap(my_format))
# applymap:  DataFrame의 "모든 개별 원소"에 함수를 적용

            b      d      e
Utah    -0.92   1.23   0.02
Ohio    -0.47   1.03  -0.41
Texas   -1.70  -1.26  -0.04
Oregon   0.52   1.44   0.22

<ipython-input-8-254de0a90af7>:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  print(frame.applymap(my_format))

In [9]:
print(frame["e"].map(my_format))
# map: "Series"의 모든 요소에 함수 적용
# frame["e"]가 Series 형태로 출력되므로!

Utah       0.02
Ohio      -0.41
Texas     -0.04
Oregon     0.22
Name: e, dtype: object