<a href="https://colab.research.google.com/github/weepingwillow2001/data_analysis_practice/blob/main/5%EC%9E%A5/5_2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#drop: 행, 열 삭제

import numpy as np
import pandas as pd
from pandas import Series, DataFrame

obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
print(obj)
# a    0.0
# b    1.0
# c    2.0
# d    3.0
# e    4.0
# dtype: float64

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [2]:
# 'c' 인덱스 삭제
new_obj = obj.drop('c')
print(new_obj)
# a    0.0
# b    1.0
# d    3.0
# e    4.0
# dtype: float64

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [3]:
# 여러 인덱스 삭제
print(obj.drop(['d', 'c']))
# a    0.0
# b    1.0
# e    4.0
# dtype: float64

a    0.0
b    1.0
e    4.0
dtype: float64

In [4]:
# DataFrame 예제
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                   index=['Ohio', 'Colorado', 'Utah', 'New York'],
                   columns=['one', 'two', 'three', 'four'])
print(data)
#           one  two  three  four
# Ohio        0    1      2     3
# Colorado    4    5      6     7
# Utah        8    9     10    11
# New York   12   13     14    15

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [5]:
# 행(index) 삭제
print(data.drop(index=['Colorado', 'Ohio']))
#           one  two  three  four
# Utah        8    9     10    11
# New York   12   13     14    15

          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

In [10]:
# 열(columns) 삭제
print(data.drop(columns='two'))
#           one  three  four
# Ohio        0      2     3
# Colorado    4      6     7
# Utah        8     10    11
# New York   12     14    15

          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15

In [8]:
# axis 파라미터를 사용한 열 삭제
print(data.drop('two', axis = 'columns'))
#           one  three  four
# Ohio        0      2     3
# Colorado    4      6     7
# Utah        8     10    11
# New York   12     14    15

          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15

In [9]:
# 여러 열 삭제
print(data.drop(['two', 'four'], axis='columns'))
#           one  three
# Ohio        0      2
# Colorado    4      6
# Utah        8     10
# New York   12     14

          one  three
Ohio        0      2
Colorado    4      6
Utah        8     10
New York   12     14