<a href="https://colab.research.google.com/github/weepingwillow2001/data_analysis_practice/blob/main/5%EC%9E%A5/5_2_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

obj = pd.Series(np.arange(4.), index=["a", "b", "c", "d"])
print(obj)

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [ ]:
# 단일 라벨 인덱싱

print(obj["b"])  # 결과: 1.0
print(obj["c"])  # 결과: 2.0

1.0
2.0

In [ ]:
# 슬라이싱

print(obj[2:4])
# 출력:
# c    2.0
# d    3.0
# dtype: float64

c    2.0
d    3.0
dtype: float64

In [ ]:
# 라벨 리스트로 인덱싱

print(obj[["b", "a", "d"]])
# 출력:
# b    1.0
# a    0.0
# d    3.0
# dtype: float64

b    1.0
a    0.0
d    3.0
dtype: float64

In [ ]:
print(obj[[1, 3]])  #1행과 3행
# 출력:
# b    1.0
# d    3.0
# dtype: float64

b    1.0
d    3.0
dtype: float64

<ipython-input-5-f32f50b79a27>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(obj[[1, 3]])

In [ ]:
# 불리언 필터링

print(obj[obj < 2])
# 출력:
# a    0.0
# b    1.0
# dtype: float64

a    0.0
b    1.0
dtype: float64

In [ ]:
# loc 메서드 사용

print(obj.loc[["b", "a", "d"]])  #"이름"으로 판단, b-a-d 순서로 출력됨!
# 출력:
# b    1.0
# a    0.0
# d    3.0
# dtype: float64

b    1.0
a    0.0
d    3.0
dtype: float64

In [ ]:
# "정수" 인덱스를 가진 Series 생성

obj1 = pd.Series([1, 2, 3], index=[2, 0, 1])
print(obj1)
# 출력:
# 2    1
# 0    2
# 1    3
# dtype: int64

2    1
0    2
1    3
dtype: int64

In [ ]:
# 정수 위치로 슬라이싱

print(obj1[[0, 1, 2]])   # 0-1-2 순서로 출력됨
# 출력:
# 0    2
# 1    3
# 2    1
# dtype: int64

0    2
1    3
2    1
dtype: int64

In [ ]:
# "문자열" 인덱스를 가진 Series 생성

obj2 = pd.Series([1, 2, 3], index=["a", "b", "c"])
print(obj2)
# 출력:
# a    1
# b    2
# c    3
# dtype: int64

a    1
b    2
c    3
dtype: int64

In [ ]:
# 문자열 인덱스로 슬라이싱

print(obj2[["a", "b", "c"]])
# 출력:
# a    1
# b    2
# c    3
# dtype: int64

a    1
b    2
c    3
dtype: int64

In [ ]:
# 값 수정하기

obj2.loc[["b","c"]] = 5
print(obj2)
# 출력:
# a    1
# b    5
# c    5
# dtype: int64

a    1
b    5
c    5
dtype: int64

In [ ]:
# DataFrame 생성 및 인덱싱
data = pd.DataFrame(np.arange(16).reshape(4, 4),
                   index=["Ohio", "Colorado", "Utah", "New York"],
                   columns=["one", "two", "three", "four"])
print(data)
# 출력:
#           one  two  three  four
# Ohio        0    1      2     3
# Colorado    4    5      6     7
# Utah        8    9     10    11
# New York   12   13     14    15

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [ ]:
# 열 선택

print(data["two"])
# 출력:
# Ohio         1
# Colorado     5
# Utah         9
# New York    13
# Name: two, dtype: int64

Ohio         1
Colorado     5
Utah         9
New York    13
Name: two, dtype: int64

In [ ]:
# 여러 열 선택

print(data[["three", "one"]])
# 출력:
#           three  one
# Ohio          2    0
# Colorado      6    4
# Utah         10    8
# New York     14   12

          three  one
Ohio          2    0
Colorado      6    4
Utah         10    8
New York     14   12

In [ ]:
# 행 선택

print(data.loc[["Colorado"], : ] )   # df 형태 유지

          one  two  three  four
Colorado    4    5      6     7

In [ ]:
# 여러 행 선택

print(data.loc[["Ohio", "Utah"]])

      one  two  three  four
Ohio    0    1      2     3
Utah    8    9     10    11

In [ ]:
# 슬라이싱으로 "행" 선택하기

print(data[:2])
# 출력:
#           one  two  three  four
# Ohio        0    1      2     3
# Colorado    4    5      6     7

In [ ]:
# 조건을 사용한 행 선택

print(data[data["three"] > 5])   # 'three' 열의 값이 5보다 큰 모든 행을 선택합니다
# 출력:
#           one  two  three  four
# Colorado    4    5      6     7
# Utah        8    9     10    11
# New York   12   13     14    15

In [ ]:
# 비교 연산자를 사용한 "불리언" 마스킹

print(data < 5)
# 출력:
#             one    two  three   four
# Ohio       True   True   True   True
# Colorado   True  False  False  False
# Utah      False  False  False  False
# New York  False  False  False  False

In [ ]:
# 불리언 DataFrame에서 True 값을 가진 위치에 0을 할당

data[data < 5] = 0
print(data)
# 출력:
#           one  two  three  four
# Ohio        0    0      0     0
# Colorado    0    5      6     7
# Utah        8    9     10    11
# New York   12   13     14    15

In [3]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
# 샘플 금융 데이터셋 생성
data1 = pd.DataFrame({
    '시가': [150.2, 235.6, 320.8, 45.7],
    '고가': [153.5, 242.1, 328.6, 48.2],
    '저가': [148.1, 232.4, 315.3, 44.6],
    '종가': [152.8, 240.5, 322.1, 47.9]
}, index=['애플', '마이크로소프트', '구글', '엑손모빌'])

print(data1)

            시가     고가     저가     종가
애플       150.2  153.5  148.1  152.8
마이크로소프트  235.6  242.1  232.4  240.5
구글       320.8  328.6  315.3  322.1
엑손모빌      45.7   48.2   44.6   47.9

In [6]:
# loc을 사용한 데이터 접근

# 단일 행 선택 (애플에 대한 모든 데이터)
apple_data = data1.loc['애플']
print("애플 주식 데이터:")
print(apple_data)

# 특정 주식과 특정 열 선택
tech_prices = data1.loc[['애플', '마이크로소프트'], ['시가', '종가']]
print("\n기술 주식의 시가와 종가:")
print(tech_prices)

# loc과 조건 함께 사용
high_value_stocks = data1.loc[data1['종가'] > 200]
print("\n종가가 200 이상인 주식:")
print(high_value_stocks)

애플 주식 데이터:
시가    150.2
고가    153.5
저가    148.1
종가    152.8
Name: 애플, dtype: float64

기술 주식의 시가와 종가:
            시가     종가
애플       150.2  152.8
마이크로소프트  235.6  240.5

종가가 200 이상인 주식:
            시가     고가     저가     종가
마이크로소프트  235.6  242.1  232.4  240.5
구글       320.8  328.6  315.3  322.1

In [7]:
# iloc 사용하여 데이터 접근

# 첫 번째 행 가져오기
first_stock = data1.iloc[0]
print("첫 번째 주식 데이터:")
print(first_stock)

# 위치로 특정 행과 열 가져오기
selected_data = data1.iloc[[1, 2], [0, 3]]  # 1행, 2행, 0열, 3열
print("\n선택된 데이터 (마이크로소프트와 구글의 시가와 종가):")
print(selected_data)

# 더 복잡한 슬라이싱
slice_data = data1.iloc[0:2, 1:3]  # 처음 두 행, 1열과 2열
print("\n데이터 슬라이스 (처음 두 주식의 고가와 저가):")
print(slice_data)

첫 번째 주식 데이터:
시가    150.2
고가    153.5
저가    148.1
종가    152.8
Name: 애플, dtype: float64

선택된 데이터 (마이크로소프트와 구글의 시가와 종가):
            시가     종가
마이크로소프트  235.6  240.5
구글       320.8  322.1

데이터 슬라이스 (처음 두 주식의 고가와 저가):
            고가     저가
애플       153.5  148.1
마이크로소프트  242.1  232.4

In [9]:
# loc, iloc 함께 사용

# 종가가 시가보다 높은 "행"을 찾은 다음 고가와 저가 "열" 선택
profitable_days = data1.loc[data1['종가'] > data1['시가'], ['고가', '저가']]
print("시가보다 높게 마감한 주식의 고가와 저가:")
print(profitable_days)

# loc만 불리언 배열 사용 가능!!

시가보다 높게 마감한 주식의 고가와 저가:
            고가     저가
애플       153.5  148.1
마이크로소프트  242.1  232.4
구글       328.6  315.3
엑손모빌      48.2   44.6

In [ ]:
# 위치 기반 접근이 필요하면 항상 iloc 사용
# 레이블 기반 접근이 필요하면 항상 loc 사용
# 가능하면 의미가 명확한 인덱스 사용 (정수 인덱스를 사용할 때는 특히 주의)

In [ ]:
# 잘못된 방법 (변경사항이 반영되지 않을 수 있음)
portfolio.loc[portfolio['risk_score'] > 7]['weight'] = 0.05

# 올바른 방법: "단일" .loc 연산을 사용
portfolio.loc[portfolio['risk_score'] > 7, 'weight'] = 0.05
# 대괄호 하나 안에서 쉼표로 행과 열을 구분!