<a href="https://colab.research.google.com/github/weepingwillow2001/data_analysis_practice/blob/main/5%EC%9E%A5/5_3_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 유일값, 값 세기, 멤버십

In [2]:
# Series에서 중복되는 값을 제거하고 유일한 값만 반환: unique()
import pandas as pd
obj = pd.Series(["c", "a", "d", "a", "a", "b", "b", "c", "c"])

# unique 함수는 Series에서 중복되는 값을 제거하고 유일한 값만 반환
uniques = obj.unique()
print(uniques)
# 유일값을 정렬된 순서로 반환하지 않지만 원한다면 uniques.sort()를 사용해서 나중에 정렬할 수 있다

['c' 'a' 'd' 'b']

In [3]:
# value_counts는 Series에서 "개수(빈도)"를 계산해 반환
print(obj.value_counts())
# value_counts에서 반환하는 Series는 빈도를 기준으로 "내림차순" 정렬한다(기본)

c    3
a    3
b    2
d    1
Name: count, dtype: int64

In [4]:
# value_counts 메서드는 판다스의 최상위 메서드이며 어떤 배열이나 순차 자료구조에서도 사용할 수 있다

print(pd.value_counts(obj.to_numpy(), sort=False))
# 시리즈를 넘파이 행렬로 바꾸고 행렬 내 빈도를 계산

c    3
a    3
d    1
b    2
Name: count, dtype: int64

<ipython-input-4-a9ce13e0ad6d>:3: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  print(pd.value_counts(obj.to_numpy(), sort=False))

In [5]:
# isin 메서드는 어떤 값이 Series에 "존재"하는지 나타내는 "불리언" 벡터를 반환한다
# Series나 DataFrame의 열에서 값을 골라내고 싶을 때 유용하게 사용할 수 있다
print(obj)
mask = obj.isin(["b", "c"])
print(mask)

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object
0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [6]:
print(obj[mask]) # 마스크에서 "True인 위치의 값만" 선택합니다.

0    c
5    b
6    b
7    c
8    c
dtype: object

In [7]:
# isin과 관련 있는 Index.get_indexer 메서드는 여러 값이 들어 있는 배열에서 유일한 값의 색인 배열을 구할 수 있다
to_match = pd.Series(["c", "a", "b", "b", "c", "a"]) # 맵핑하려는 값들의 시리즈
unique_vals = pd.Series(["c", "b", "a"]) # 맵핑 기준이 되는 고유 값들
indices = pd.Index(unique_vals).get_indexer(to_match) # to_match의 각 값이 unique_vals의 어떤 위치(인덱스)에 있는지 반환합니다.
print(indices)

[0 2 1 1 0 2]

In [15]:
# DataFrame의 여러 열에 대해서 히스토그램을 계산해야 하는 경우
data = pd.DataFrame({"Qu1": [1, 3, 4, 3, 4],
                    "Qu2": [2, 3, 1, 2, 3],
                    "Qu3": [1, 5, 2, 4, 4]},
                   index=['a', 'b', 'c', 'd', 'e'])
print(data)

   Qu1  Qu2  Qu3
a    1    2    1
b    3    3    5
c    4    1    2
d    3    2    4
e    4    3    4

In [16]:
# 다음과 같이 단일 열에 대한 값 개수를 계산할 수 있다
print(data["Qu1"].value_counts().sort_index()) # sort_index(): 빈도를 기준으로 "오름차순" 정렬하는 메서드

Qu1
1    1
3    2
4    2
Name: count, dtype: int64

In [17]:
# 모든 열에서 위와 같은 계산을 하려면 DataFrame의 apply 메서드에 pandas.value_counts를 넘기면 된다
result = data.apply(pd.value_counts).fillna(0)
print(result)

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0

<ipython-input-17-d7d45d8e3f2b>:2: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  result = data.apply(pd.value_counts).fillna(0)

In [9]:
# DataFrame.value_counts: DataFrame의 각 "행"을 "튜플"로 간주해 빈도를 계산
data = pd.DataFrame({"a": [1, 1, 1, 2, 2], "b": [0, 0, 1, 0, 0]})
print(data)

   a  b
0  1  0
1  1  0
2  1  1
3  2  0
4  2  0

In [10]:
print(data.value_counts()) # 기본은 내림차순
# (1, 0): 2개
# (2, 0): 2개
# (1, 1): 1개

a  b
1  0    2
2  0    2
1  1    1
Name: count, dtype: int64